<configuration>
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%class{0}[%thread][BK]</pattern>
        </tagEncoder>

        <encoder>
            <pattern>%msg - %M:%L%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="logcat"/>
    </root>
</configuration>